/* --- VARIÁVEIS DE CORES --- */
:root {
    --cor-bege: #D3C5AA;
    --cor-bege-hover: #bdae95;
    --cor-titulos: #413a30;
    --cor-fundo-claro: #fdfaf5;
}

/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #FFFAF1;
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden;
}

/* --- CONVITE --- */
.convite {
    position: relative;
    width: 100%;
    max-width: 800px;
}

.convite img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.btn {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    appearance: none;
    border: 0;
    background: var(--cor-bege);
    color: var(--cor-titulos);
    padding: 14px 22px;
    border-radius: 12px;
    font-weight: 700;
    cursor: pointer;
    font-size: 1.1rem;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}
.btn:hover {
    background: var(--cor-bege-hover);
}

/* --- MODAL --- */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}
.modal-content {
    background: var(--cor-fundo-claro);
    padding: 25px 30px;
    border-radius: 15px;
    max-width: 550px;
    width: 90%;
    max-height: 85vh;
    overflow-y: auto;
    position: relative;
}
